/*  # Ігноруємо всі файли та папки
!/archivefilipovs/  # Але дозволяємо папку archivefilipovs/

# Явно ігноруємо конкретні папки
Applications/
Desktop/
Documents/
Downloads/
Library/
Local Sites/
Movies/
Music/
Pictures/
Public/
README.md
Sites/
example-app/
hmeya/
oldsite/
testPHPclub/
testYulia/
wordpress/
